
h1{
    font-family: Impact;
    font-weight: 700;
    font-size: 5rem;
}

.button{
    width: 15rem;
    height: 5rem;
    background-color: blue;
    color: #fff;
}
.button:hover{
    background-color: green;
}
p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: 2rem;
}